@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-kode-mono: var(--font-kode-mono);
  --color-red: #FF0B01;
  --color-yellow: #F8E40D;
  --color-blue: #0385FD;
}

@layer base {

  * {
    @apply font-inter;
  }

  body {
    @apply bg-black text-white;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}